* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f8ff;
    color: #333;
}


header {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 5px;
}


nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #e3f2fd;
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: #0277bd;
    font-weight: bold;
}


main {
    display: flex;
    gap: 25px;
    padding: 30px;
}


.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 3;
    justify-content: center;
}



.menu-item {
    width: 220px;
    background: rgb(249, 249, 249);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}


.menu-item a {
    text-decoration: none;
    color: #01579b;
    display: block;
    text-align: center;
}

.menu-item span {
  display: block;
  margin: 5px 0;
  font-weight: bold;
  color: #5dd4f2;
}


.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.4s ease;
}


.menu-item:hover img {
    transform: scale(1.12);
}


.menu-item p {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}


aside {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

aside h3 {
    color: #0288d1;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #bbdefb;
    padding: 15px;
    margin-top: 20px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .menu {
        justify-content: center;
    }
}


.order-summary {
  max-width: 500px;
  margin: 0 auto 3rem;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.order-summary h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #3a819b;
}

.order-item,
.order-total {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.confirm-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #4ec2d4;
  color: white;
  font-size: 16px;
}